<html lang="en">
  <head>
    <title>Home</title>
    <link
      rel="stylesheet"
      href="/App.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  </head>
  <body>
    <header class="header-global">
      <div>
        <nav id="navbar-main" class="navbar-main nav-align custom-toggler navbar-transparent headroom navbar navbar-expand-lg bg-light" style="background-color:#FF363F !important;">
          <a href="/" class="navbar-brand"><img alt="flookup" width="100" height="50" src="assets/logo.png">
          </a>
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <br>
      </div>
    </header>
    <div className='cards'>
        <div className='cards-container'>
            <div className='cards-wrapper'>
                <ul className='card-items'>
                    <li className='cards__item'>
                        <a href="pdftodoc">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoword.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to Word</h5>
                            
                          </div>
                        </div>
                    </a>
                      </li>

                      <li className='cards__item'>
                        <a href="/pdftoxlsx">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoexcel.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to Excel</h5>
                            
                          </div>
                        </div>
                      </a>
                      </li>

                      <li className='cards__item'>
                        <a href="/pptfrompdf">
                        <Link className='cards__item__link' to='/'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoppt.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to PPT</h5>
                            
                          </div>
                        </Link>
                      </li>
                    </a>

                </ul>


                <ul className='card-items'>
                    <li className='cards__item'>
                        <a href="/pdftopng">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftojpg.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to PNG</h5>
                            
                          </div>
                        </div>
                    </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/imgtopdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/jpgtopdf.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Image to Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/splitpdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/splitpdf.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Split Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>
                

                </ul>

                <ul className='card-items'>
                    <li className='cards__item'>
                        <a href="/officetopdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/wordtopdf.jpg'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Word to Pdf</h5>
                            
                          </div>
                        </div>
                    </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/officetopdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/exceltopdf.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Excel to Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/officetopdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/ppttopdf.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>PPT to Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>
                </ul>

                <ul className='card-items'>
                    <li className='cards__item'>
                        <a href="/rotatepdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/rotate.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Rotate Pdf</h5>
                            
                          </div>
                        </div>
                    </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/unlockpdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/unlock.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Unlock Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/reversepdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/reverse.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Reverse Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>
                

                </ul>

                <ul className='card-items'>
                    <li className='cards__item'>
                        <a href="/mergepdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/mergepdf.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Merge Pdf</h5>
                            
                          </div>
                        </div>
                    </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/watermark">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/watermark.jpg'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>WaterMark</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>

                      <li className='cards__item'>
                          <a href="/compresspdf">
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/compress.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Compress Pdf</h5>
                            
                          </div>
                        </div>
                        </a>
                      </li>
                

                </ul>


                <ul className='card-items'>
                  <li className='cards__item'>
                      <a href="protectpdf">
                      <div className='cards__item__link'>
                        <figure className='cards__item__pic-wrap'>
                          <img className='cards__item__img'
                            alt=''
                            src='/assets/lock.svg'
              
                            width="200" height="120"
                          />
                        </figure>
                        <div className='cards__item__info'>
                          <h5 className='cards__item__text'>Lock Pdf</h5>
                          
                        </div>
                      </div>
                  </a>
                    </li>

                    <li className='cards__item'>
                      <a href="/imagewatermark">
                      <div className='cards__item__link'>
                        <figure className='cards__item__pic-wrap' data-category=''>
                          <img className='cards__item__img'
                            alt=''
                            src='/assets/imgwatermark.jpg'
              
                            width="200" height="120"
                          />
                        </figure>
                        <div className='cards__item__info'>
                          <h5 className='cards__item__text'>Image Watermark</h5>
                          
                        </div>
                      </div>
                    </a>
                    </li>

                  </a>

              </ul>



            </div>
        </div>

        
</body>
  
</html>