<html lang="en">
  <head>
    <title>Home</title>
    <link
      rel="stylesheet"
      href="/App.css"
    />
  </head>
  <body>
    <div className='cards'>
        <div className='cards-container'>
            <div className='cards-wrapper'>
                <ul className='card-items'>
                    <li className='cards__item'>
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap'>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoword.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to Word</h5>
                            
                          </div>
                        </div>
                      </li>

                      <li className='cards__item'>
                        <div className='cards__item__link'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoexcel.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to Excel</h5>
                            
                          </div>
                        </div>
                      </li>

                      <li className='cards__item'>
                        <Link className='cards__item__link' to='/'>
                          <figure className='cards__item__pic-wrap' data-category=''>
                            <img className='cards__item__img'
                              alt=''
                              src='/assets/pdftoppt.png'
                
                              width="200" height="120"
                            />
                          </figure>
                          <div className='cards__item__info'>
                            <h5 className='cards__item__text'>Pdf to PPT</h5>
                            
                          </div>
                        </Link>
                      </li>
                

                </ul>
            </div>
        </div>

        
</body>
  
</html>