<html lang="en">
  <head>
    <title>PDF TO EXCEL Converter</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div class="container">
          <h1 class="text-center">
              PDF to EXCEL
          </h1>
          <form action="/pdftoxlsx" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="file" name="file" id="" required class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Convert to EXCEL
                </button>
            </div>
        </form>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>