<!DOCTYPE html>
<html>
  <head>
    <title>Reorder PDF Files in Node and Express</title>
    <link
      rel="stylesheet"
      href="/branch.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
      <div class="container">
          <h1 class="text-center">
              Reorder PDF File
          </h1>
          <form action="/reorderpdf" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="files">Upload Single PDF File:</label>
                <input type="file" name="files" class="form-control" accept="application/pdf,application/vnd.ms-excel" required id="">
            </div>
            <div class="form-group">
              <label for="pagestart">Original Page number:</label>
              <input type="number" name="pagestart" class="form-control"  required id="">
          </div>
          <div class="form-group">
            <label for="pageend">Required Page number:</label>
            <input type="number" name="pageend" class="form-control"  required id="">
        </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Reorder PDF
                </button>
            </div>
        </form>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>