<!DOCTYPE html>
<html>
  <head>
    <title>Split PDF Files</title>
    <link
      rel="stylesheet"
      href="/branch.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <header class="header-global">
      <div>
        <nav id="navbar-main" class="navbar-main nav-align custom-toggler navbar-transparent headroom navbar navbar-expand-lg bg-light" style="background-color:#FF363F !important;">
          <a href="/" class="navbar-brand"><img alt="flookup" width="100" height="50" src="assets/logo.png">
          </a>
          <button type="button" class="navbar-toggler">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <br>
      </div>
    </header>
      <div class="container">
          <h1 class="text-center">
              Split PDF File
          </h1>
          <form action="/splitpdf" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="files">Upload Single PDF File:</label>
                <input type="file" name="files" class="form-control" accept="application/pdf,application/vnd.ms-excel" required id="">
            </div>
            <div class="form-group">
              <label for="pagestart">Starting Page number:</label>
              <input type="number" name="pagestart" class="form-control"  required id="">
          </div>
          <div class="form-group">
            <label for="pageend">Ending Page number:</label>
            <input type="number" name="pageend" class="form-control"  required id="">
        </div>
            <div class="form-group">
                <button class="btn btn-danger btn-block">
                    Split PDF
                </button>
            </div>
        </form>
      </div>
</body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>