:root {
    --color-primary: #F63344;
    --color-primary-light: #FF363F;
    --color-primary-dark: #ED3360;
    --color-grey-light-1: #faf9f9;
    --color-grey-light-2: #f4f2f2;
    --color-grey-light-3: #f0eeee;
    --color-grey-light-4: #ccc;
    --color-grey-dark-1: #333;
    --color-grey-dark-2: #777;
    --color-grey-dark-3: #999;
    --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3);
    --shadow-light: 0 2rem 5rem rgba(0, 0, 0, .06);
    --line: 3px solid var(--color-grey-light-2);
}

nav{
    width:100%;
}

a img:hover{
    transform: scaleX(1.2);
    transform: scaleY(1.00002);
    transform: rotateZ(360deg);
    transition: 0.5s;
    background-color: var(--color-primary-dark);
}


ul{
    display: flex;
    justify-content: center
    !important;
}

li{
    display: inline-block;
    width:80%;
    justify-content: center;
    border: 3px solid rgb(63, 12, 63);
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
}

li :hover{
    position: relative;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
} 

img{
  display: flex;
  justify-content: center;
  margin: auto;      
}

h5{
    color: red;
    
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    display: flex;
    justify-content: center;
}


@media(max-width: 1200px){
    nav{
        width:100%;
    }
    ul{
        display: block;
        justify-content: center;
    }
    
    li{
        display: block;
        width:70%;
        justify-content: center;
        border: 3px solid rgb(63, 12, 63);
        margin: auto;
        margin-bottom: 4px;
        border-radius: 10px;
    }
  }
